<div class="nav-panel">
     <form method="get" id="search-form-results" action="/buscar/">
            <input type="search" id="search-input-results" name="buscar">
            <button id="search-button-results" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
     </form>
</div>
