<div class="nav-panel">
     <form method="get" class="search-form" action="busqueda">
            <input type="search" class=" search-input form-control">
            <button id="search-button btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
     </form>
</div>