<div class="nav-panel">
     <form method="get" id="search-form-results" action="busqueda">
            <input type="search" id="search-input-results">
            <button id="search-button-results" type="submit"><span class="glyphicon glyphicon-search"></span></button>
     </form>
</div>