
<div class="nav-panel">
    <a href="">Ítem de navegación #1</a>
    <a href="">Ítem de navegación #2</a>
    <a href="">Ítem de navegación #3</a>
    <a href="">Ítem de navegación #4</a>
    <a href="">Ítem de navegación #5</a>
</div>