
<div class="nav-panel">
    <a href=""><img class='nav-icon' src="{{ asset('images/login.png') }}" />Login</a>
    <a href=""><img class='nav-icon' src="{{ asset('images/register.png') }}" />Register</a>
</div>