{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Procesado</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td><a href="{{ path('crud_pedido_show', { 'id': pedido.id }) }}">{{ pedido.fecha }}</a></td>
                <td>{% if pedido.procesado %}Yes{% else %}No{% endif %}</td>
                <td>{{ pedido.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('crud_pedido_show', { 'id': pedido.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
