{% extends 'base.html.twig' %}

{% block body %}
    <div class='container'>
        <h2 class='page-header'>Moviemind admin: CRUD index</h2>
        <ul>
            <li><a href='/crud_cliente/'>Cliente</a></li>
            <li><a href='/crud_edicion/'>Edición</a></li>
            <li><a href='/crud_formato/'>Formato</a></li>
            <li><a href='/crud_genero/'>Género</a></li>
            <li><a href='/crud_pedido/'>Pedido</a></li>
            <li><a href='/crud_pelicula/'>Película</a></li>
        </ul>
    </div>
{% endblock %}