{% extends 'base.html.twig' %}




{% block header %} {% endblock %}
{% block main %}
    <section>
        <h1 class="big-title">
            Moviemind
        </h1>
        <form>
            <input type="search">

            </input>
        </form>
    </section>
        
{% endblock %}
