<article class="result-article row">
    <figure class="col-xl-1 col-lg-2 col-md-2 col-sm-3">
    <img src="{{asset('images/harry-potter-y-las-reliquias-de-la-muerte-parte-2-en-dvd-13514-MLU3202317359_092012-F.jpg')}}" class="caratula">
    </figure>
    <div class="col-xl-11 col-lg-10 col-md-10 col-sm-9" id="details-results-div">
        <h2><strong>{{title}}</strong><small>(1950)</small></h2>
        <p><strong>Director: </strong> </p>
        <p><strong>Edition: </strong></p>
        <div id="article-buttons">   
            <button class="btn btn-info">More info</button>
            <div class="dropdown">
                <button class="btn btn-success">Buy</button>
                <div class="dropdown-content">
                    <a href="#">Blu-ray 15.00€</a>
                    <a href="#">DVD 9.00€</a>
                </div>
            </div>
        </div>
    </div>
</article>
