{% extends 'base.html.twig' %}

{% block header %} {% endblock %}
{% block main %}
    <section id="search-block">
       
        <h1 class="big-title flex-item">
            Moviemind
        </h1>
        <form method="get" class="search-form" action="busqueda">
            <input type="search" name="buscar" class="search-input form-control" size="70">
            <button class="search-button btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
            
    </section>
        
{% endblock %}
